react
react-dom
react-router-dom
react-hook-form
yup
@hookform/resolvers
leaflet
react-leaflet
react-multi-date-picker
axios
react-easy-crop
vite
typescript
tailwindcss
@tailwindcss/vite
@vitejs/plugin-react
@types/react
@types/react-dom
@types/leaflet
@types/node
oxlint
cheerio
